.title-h1 {
  font-size: 60px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 10px;
  width: 50%;
  max-width: 606px;
  margin-bottom: 30px;
  
  &--shift {
    .shift();
  }
  
  &--invent {
    position: relative;
    left: 34%;
    color: #fff;
  }
}

.title-h3 {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-top: 0;
  margin-bottom: 22px;
}